:root {
    --clr-dark : black;
    --clr-blue : blue;
    --clr-white : #fff;
    --clr-gray : gray;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin : 0;
    padding : 0;
}

.d-flex {
    display : flex !important;
}

.container {
    max-width : 540px;
    margin : 0 auto;
}

.nav-list {
    display : flex;
    gap : 1em;
    list-style: none;
    padding : 0 !important;
}

.nav-list-item:nth-child(2) {
    margin-left : auto;
}

a,
a:visited {
    text-decoration: none;
    color: var(--clr-dark);
}


/* Adoption Form */
.adopt-form,
.register-form,
.release-form {
    flex-direction : column;
    gap : 0.5rem;
}

.adopt-form > input,
.adopt-form > select,
.register-form > input,
.release-form > input {
    width : 50%;
}

button {
    cursor : pointer;
}

.adopt-form-btn {
    width : fit-content;
    border-radius : 25px;
    border : 1px solid var(--clr-gray);
    background : var(--clr-dark);
    color : var(--clr-white);
    font-weight : 700;
    padding : 10px;
}

.adopt {
    display : grid;
    grid-template-columns : 1fr 1fr;
}

/* Register */
.view-password-btn {
    width : fit-content;
    border-radius : 25px;
    border : 1px solid gray;
    background : var(--clr-blue);
    color : var(--clr-white);
    padding : 10px;
}
