:root {
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin : 0;
    padding : 0;
}

.d-flex {
    display : flex !important;
}

.container {
    max-width : 540px;
    margin : 0 auto;
}

.nav-list {
    display : flex;
    gap : 1em;
    list-style: none;
    padding : 0 !important;
}

.nav-list-item:nth-child(2) {
    margin-left : auto;
}

a,
a:visited {
    text-decoration: none;
    color:  black;
}


/* Adoption Form */
.adopt-form,
.register-form {
    flex-direction : column;
    gap : 0.5rem;
}

.adopt-form > input,
.adopt-form > select,
.register-form > input {
    width : 50%;
}

.adopt-form-btn {
    width : fit-content;
    border-radius : 25px;
    border : 1px solid gray;
    background : black;
    color : #fff;
    font-weight : 700;
    padding : 10px;
}

/* Register */
